body {
  background-color: #e9defb;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin-bottom: 1rem;
  color: #20054b;
}

#myPhoto {
  width: 300px;
  float: left;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

section>p,
ol,
ul {
  font-family: "Merriweather";
  font-weight: 500;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-container {
  display: flex;
  justify-content: space-between;
}

.achievements-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

#games {
  margin-right: 5rem;
}